#
#
# IMPORTANT: DO NOT QUOTE VALUES!
# This file is passed to docker run  --env-file and quoting would include the quotes in the values!
#
# Set specific user name here if needed
USER_NAME=${USER_NAME:-$(id -u -n)}
USER_ID=${USER_ID:-$(id -u)}
USER_GROUP=${USER_GROUP:-$(id -g)}

MISE_DATA_DIR=/mise
MISE_CONFIG_DIR=/mise
MISE_CACHE_DIR=/mise/cache
MISE_INSTALL_PATH=/usr/local/bin/mise

# Docker image name to build
IMAGE_NAME=${IMAGE_NAME:-ai_agents_${USER_NAME}}

# Privacy configuration
CLAUDE_CODE_DISABLE_NONESSENTIAL_TRAFFIC=1  # Don't send telemetry data

# api keys, uncomment and fill in for use in the container
#ANTHROPIC_BASE_URL=
#ANTHROPIC_AUTH_TOKEN=
#ANTHROPIC_API_KEY=
#ANTHROPIC_DEFAULT_SONNET_MODEL=
#ANTHROPIC_DEFAULT_OPUS_MODEL=
#ANTHROPIC_DEFAULT_HAIKU_MODEL=
#CLAUDE_CODE_SUBAGENT_MODEL=
#SYNTHETIC_API_KEY=
#OPENCODE_ZEN_API_KEY=
#GEMINI_API_KEY=
#MISTRAL_API_KEY=
#OPENROUTER_API_KEY=
#MISTRAL_API_KEY=
