# Set specific user name here if needed
#export USER_NAME=
#export USER_ID=
#export USER_GROUP=

# Docker image name that is build
export IMAGE_NAME=ai_agents

# Privacy configuration
export CLAUDE_CODE_DISABLE_NONESSENTIAL_TRAFFIC=1  # Don't send telemetry data

# api keys, uncomment and fill in for use in the container
#export ANTHROPIC_BASE_URL=
#export ANTHROPIC_AUTH_TOKEN=
#export ANTHROPIC_API_KEY=
#export ANTHROPIC_DEFAULT_SONNET_MODEL=
#export ANTHROPIC_DEFAULT_OPUS_MODEL=
#export ANTHROPIC_DEFAULT_HAIKU_MODEL=
#export CLAUDE_CODE_SUBAGENT_MODEL=
#export SYNTHETIC_API_KEY=
#export OPENCODE_ZEN_API_KEY=
#export GEMINI_API_KEY=
#export MISTRAL_API_KEY=
#export OPENROUTER_API_KEY=
#export MISTRAL_API_KEY=
